*
{
    padding: 0;
    margin: 0;

    
    
}


#rectangle{
    padding-top: 10%;

    position: absolute;
    width:100%;
    height: 100%;
    background: radial-gradient(ellipse at center, rgb(137, 164, 38) 0%, rgb(108, 122, 109) 60%);
  }

.container
{
    min-height: 60vh;
    display: grid;
    place-items: center;
}

#Arabic_Buttons{
    background-color: #d4d7d4; /* Green */
    border: none;
    color: rgb(19, 14, 14);
    width: 160px;
    height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    border-radius: 30px 30px 30px 30px;
}

.inputBx
{
    display: flex;
    height: 40;
}
.inputBx input
{

    margin-top: 20px;
    margin-bottom: 50px;
    padding: 10px ;
    border: none;
    box-shadow:  0 0 4px rgba(0,0,0,.4);
    outline: none;
    width: 400px;
    height: 40;
    font-size: 16px;
    font-weight: italic;
    font-family: cursive;
    text-align:right;
}
.inputBx .icon
{
    width: 70px;
    height: 70px;
    display: grid;
    place-items: center;
    box-shadow:  0 0 4px rgba(0,0,0,.4);
    border-radius: 40%;
    margin-left: 20px;
    cursor: pointer;
    color: black;
    background-color: rgb(201, 227, 197);

    /* animation: breathe 1s linear infinite; */
    /* animation: none; */

}
.inputBx .icon i
{
    pointer-events: none;
}




@keyframes breathe {
    0% {
   box-shadow: 0 0 0 7px rgba(157, 208, 230,0.4);
    }
    50% {
   box-shadow: 0 0 0 25px rgba(157, 208, 230,0.7);
    }
    100% {
   box-shadow: 0 0 0 7px rgba(157, 208, 230,0.4);
    }
   }
